.shadow.card-content {
    margin: 40px;
    padding: 22px;
    width: 400px;
    text-align: center;
    display: inline-block;
}
.card-container {
    text-align: center;
}
button{
    margin:40px;
}
.categories span{
    background: grey;
    color: white;
    border-radius: 12px;
    padding: 6px;
}
.picture{
    margin-top: 20px;
}
.title_text {
    background: #80808080;
    color: white;
}